In [111]:
import pandas as pd
import json
import numpy as np

In [112]:
import os

os.getcwd()

'/home/vlins/Documents/airflow-weather-monitoring/dags/scripts/test'

In [113]:
with open('../../../data/raw/20250509_104128/weather_20250509_104128.json', 'r') as file:
    data = json.load(file)

weather_df = pd.json_normalize(
    data,
    record_path=['weather'],
    meta=[
        'base', 'visibility', 'dt', 'timezone', 'name', 'cod',
        ['coord', 'lon'], ['coord', 'lat'],
        ['main', 'temp'], ['main', 'feels_like'], ['main', 'temp_min'], ['main', 'temp_max'],
        ['main', 'pressure'], ['main', 'humidity'], ['main', 'sea_level'],
        ['wind', 'speed'],
        ['clouds', 'all'],
        ['sys', 'sunrise'], ['sys', 'sunset']
    ],
    sep='_'
)

weather_df.head()

,id,main,description,icon,base,visibility,dt,timezone,name,cod,coord_lon,coord_lat,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_sea_level,wind_speed,clouds_all,sys_sunrise,sys_sunset
0,801,Clouds,algumas nuvens,02d,stations,10000,1746801696,-14400,Acorizal,200,-56.3669,-15.2002,32.03,35.7,32.03,32.03,1013,55,1013,3.33,14,1746784674,1746825956
1,800,Clear,céu limpo,01d,stations,10000,1746801697,-14400,Nova Xavantina,200,-52.1618,-14.0523,30.77,31.7,30.77,30.77,1014,47,1014,2.1,0,1746783573,1746825039
2,800,Clear,céu limpo,01d,stations,10000,1746801698,-14400,Alta Floresta,200,-56.0835,-9.8699,32.95,37.7,32.95,32.95,1014,55,1014,1.54,0,1746784187,1746826307
3,800,Clear,céu limpo,01d,stations,10000,1746801699,-14400,Alto Araguaia,200,-53.2169,-17.3157,27.8,28.86,27.8,27.8,1015,57,1015,4.09,4,1746784089,1746825029
4,800,Clear,céu limpo,01d,stations,10000,1746801700,-14400,Paind do Araguaia,200,-51.3744,-11.6724,31.03,32.67,31.03,31.03,1014,50,1014,2.53,1,1746783197,1746825037

In [114]:
weather_df.drop(columns=['id', 'main', 'base', 'visibility'], inplace=True)
weather_df.head()

,description,icon,dt,timezone,name,cod,coord_lon,coord_lat,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_sea_level,wind_speed,clouds_all,sys_sunrise,sys_sunset
0,algumas nuvens,02d,1746801696,-14400,Acorizal,200,-56.3669,-15.2002,32.03,35.7,32.03,32.03,1013,55,1013,3.33,14,1746784674,1746825956
1,céu limpo,01d,1746801697,-14400,Nova Xavantina,200,-52.1618,-14.0523,30.77,31.7,30.77,30.77,1014,47,1014,2.1,0,1746783573,1746825039
2,céu limpo,01d,1746801698,-14400,Alta Floresta,200,-56.0835,-9.8699,32.95,37.7,32.95,32.95,1014,55,1014,1.54,0,1746784187,1746826307
3,céu limpo,01d,1746801699,-14400,Alto Araguaia,200,-53.2169,-17.3157,27.8,28.86,27.8,27.8,1015,57,1015,4.09,4,1746784089,1746825029
4,céu limpo,01d,1746801700,-14400,Paind do Araguaia,200,-51.3744,-11.6724,31.03,32.67,31.03,31.03,1014,50,1014,2.53,1,1746783197,1746825037

In [115]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   description      141 non-null    object
 1   icon             141 non-null    object
 2   dt               141 non-null    object
 3   timezone         141 non-null    object
 4   name             141 non-null    object
 5   cod              141 non-null    object
 6   coord_lon        141 non-null    object
 7   coord_lat        141 non-null    object
 8   main_temp        141 non-null    object
 9   main_feels_like  141 non-null    object
 10  main_temp_min    141 non-null    object
 11  main_temp_max    141 non-null    object
 12  main_pressure    141 non-null    object
 13  main_humidity    141 non-null    object
 14  main_sea_level   141 non-null    object
 15  wind_speed       141 non-null    object
 16  clouds_all       141 non-null    object
 17  sys_sunrise      141 non-null    object
 18  sys_sunset       141 non-null    object
dtypes: object(19)
memory usage: 21.1+ KB

In [116]:
weather_df['timezone'] = weather_df['timezone'].astype(int)
weather_df['cod'] = weather_df['cod'].astype(int)
weather_df['coord_lon'] = weather_df['coord_lon'].astype(np.float64)
weather_df['coord_lat'] = weather_df['coord_lat'].astype(np.float64)
weather_df['main_temp'] = weather_df['main_temp'].astype(np.float64)
weather_df['main_temp_min'] = weather_df['main_temp_min'].astype(np.float64)
weather_df['main_temp_max'] = weather_df['main_temp_max'].astype(np.float64)
weather_df['main_pressure'] = weather_df['main_pressure'].astype(int)
weather_df['main_humidity'] = weather_df['main_humidity'].astype(int)
weather_df['main_sea_level'] = weather_df['main_sea_level'].astype(int)
weather_df['wind_speed'] = weather_df['wind_speed'].astype(np.float32)
weather_df['clouds_all'] = weather_df['clouds_all'].astype(int)
weather_df['sys_sunrise'] = weather_df['sys_sunrise'].astype(int)
weather_df['sys_sunset'] = weather_df['sys_sunset'].astype(int)

In [117]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   description      141 non-null    object
 1   icon             141 non-null    object
 2   dt               141 non-null    object
 3   timezone         141 non-null    int64
 4   name             141 non-null    object
 5   cod              141 non-null    int64
 6   coord_lon        141 non-null    float64
 7   coord_lat        141 non-null    float64
 8   main_temp        141 non-null    float64
 9   main_feels_like  141 non-null    object
 10  main_temp_min    141 non-null    float64
 11  main_temp_max    141 non-null    float64
 12  main_pressure    141 non-null    int64
 13  main_humidity    141 non-null    int64
 14  main_sea_level   141 non-null    int64
 15  wind_speed       141 non-null    float32
 16  clouds_all       141 non-null    int64
 17  sys_sunrise      141 non-null    int64
 18  sys_sunset       141 non-null    int64
dtypes: float32(1), float64(5), int64(8), object(5)
memory usage: 20.5+ KB

In [118]:
weather_df.head()

,description,icon,dt,timezone,name,cod,coord_lon,coord_lat,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_sea_level,wind_speed,clouds_all,sys_sunrise,sys_sunset
0,algumas nuvens,02d,1746801696,-14400,Acorizal,200,-56.3669,-15.2002,32.03,35.7,32.03,32.03,1013,55,1013,3.33,14,1746784674,1746825956
1,céu limpo,01d,1746801697,-14400,Nova Xavantina,200,-52.1618,-14.0523,30.77,31.7,30.77,30.77,1014,47,1014,2.10,0,1746783573,1746825039
2,céu limpo,01d,1746801698,-14400,Alta Floresta,200,-56.0835,-9.8699,32.95,37.7,32.95,32.95,1014,55,1014,1.54,0,1746784187,1746826307
3,céu limpo,01d,1746801699,-14400,Alto Araguaia,200,-53.2169,-17.3157,27.80,28.86,27.80,27.80,1015,57,1015,4.09,4,1746784089,1746825029
4,céu limpo,01d,1746801700,-14400,Paind do Araguaia,200,-51.3744,-11.6724,31.03,32.67,31.03,31.03,1014,50,1014,2.53,1,1746783197,1746825037

In [119]:
weather_df['datetime_utc'] = pd.to_datetime(weather_df['dt'], unit='s', utc=True)
weather_df['datetime_local'] = weather_df['datetime_utc'] + pd.to_timedelta(weather_df['timezone'], unit='s')
weather_df['datetime_local'] = weather_df['datetime_local'].dt.tz_localize(None)
weather_df['datetime_local']

0     2025-05-09 10:41:36
1     2025-05-09 10:41:37
2     2025-05-09 10:41:38
3     2025-05-09 10:41:39
4     2025-05-09 10:41:40
              ...
136   2025-05-09 10:44:01
137   2025-05-09 10:44:02
138   2025-05-09 10:44:03
139   2025-05-09 10:44:04
140   2025-05-09 10:44:04
Name: datetime_local, Length: 141, dtype: datetime64[ns]

In [120]:
weather_df.head()

,description,icon,dt,timezone,name,cod,coord_lon,coord_lat,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_sea_level,wind_speed,clouds_all,sys_sunrise,sys_sunset,datetime_utc,datetime_local
0,algumas nuvens,02d,1746801696,-14400,Acorizal,200,-56.3669,-15.2002,32.03,35.7,32.03,32.03,1013,55,1013,3.33,14,1746784674,1746825956,2025-05-09 14:41:36+00:00,2025-05-09 10:41:36
1,céu limpo,01d,1746801697,-14400,Nova Xavantina,200,-52.1618,-14.0523,30.77,31.7,30.77,30.77,1014,47,1014,2.10,0,1746783573,1746825039,2025-05-09 14:41:37+00:00,2025-05-09 10:41:37
2,céu limpo,01d,1746801698,-14400,Alta Floresta,200,-56.0835,-9.8699,32.95,37.7,32.95,32.95,1014,55,1014,1.54,0,1746784187,1746826307,2025-05-09 14:41:38+00:00,2025-05-09 10:41:38
3,céu limpo,01d,1746801699,-14400,Alto Araguaia,200,-53.2169,-17.3157,27.80,28.86,27.80,27.80,1015,57,1015,4.09,4,1746784089,1746825029,2025-05-09 14:41:39+00:00,2025-05-09 10:41:39
4,céu limpo,01d,1746801700,-14400,Paind do Araguaia,200,-51.3744,-11.6724,31.03,32.67,31.03,31.03,1014,50,1014,2.53,1,1746783197,1746825037,2025-05-09 14:41:40+00:00,2025-05-09 10:41:40

In [121]:
weather_df['sys_sunrise'] = pd.to_datetime(weather_df['sys_sunrise'], unit='s')
weather_df['sys_sunrise'] = weather_df['sys_sunrise'] + pd.to_timedelta(weather_df['timezone'], unit='s')
weather_df['sys_sunrise'] = weather_df['sys_sunrise'].dt.strftime('%H:%M:%S')

weather_df['sys_sunset'] = pd.to_datetime(weather_df['sys_sunset'], unit='s')
weather_df['sys_sunset'] = weather_df['sys_sunset'] + pd.to_timedelta(weather_df['timezone'], unit='s')
weather_df['sys_sunset'] = weather_df['sys_sunset'].dt.strftime('%H:%M:%S')

In [122]:
weather_df.drop(columns=['dt', 'timezone', 'datetime_utc'], inplace=True)
weather_df.head()

,description,icon,name,cod,coord_lon,coord_lat,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_sea_level,wind_speed,clouds_all,sys_sunrise,sys_sunset,datetime_local
0,algumas nuvens,02d,Acorizal,200,-56.3669,-15.2002,32.03,35.7,32.03,32.03,1013,55,1013,3.33,14,05:57:54,17:25:56,2025-05-09 10:41:36
1,céu limpo,01d,Nova Xavantina,200,-52.1618,-14.0523,30.77,31.7,30.77,30.77,1014,47,1014,2.10,0,05:39:33,17:10:39,2025-05-09 10:41:37
2,céu limpo,01d,Alta Floresta,200,-56.0835,-9.8699,32.95,37.7,32.95,32.95,1014,55,1014,1.54,0,05:49:47,17:31:47,2025-05-09 10:41:38
3,céu limpo,01d,Alto Araguaia,200,-53.2169,-17.3157,27.80,28.86,27.80,27.80,1015,57,1015,4.09,4,05:48:09,17:10:29,2025-05-09 10:41:39
4,céu limpo,01d,Paind do Araguaia,200,-51.3744,-11.6724,31.03,32.67,31.03,31.03,1014,50,1014,2.53,1,05:33:17,17:10:37,2025-05-09 10:41:40

In [123]:
weather_df['description'] = weather_df['description'].str.capitalize()

weather_df.head()

,description,icon,name,cod,coord_lon,coord_lat,main_temp,main_feels_like,main_temp_min,main_temp_max,main_pressure,main_humidity,main_sea_level,wind_speed,clouds_all,sys_sunrise,sys_sunset,datetime_local
0,Algumas nuvens,02d,Acorizal,200,-56.3669,-15.2002,32.03,35.7,32.03,32.03,1013,55,1013,3.33,14,05:57:54,17:25:56,2025-05-09 10:41:36
1,Céu limpo,01d,Nova Xavantina,200,-52.1618,-14.0523,30.77,31.7,30.77,30.77,1014,47,1014,2.10,0,05:39:33,17:10:39,2025-05-09 10:41:37
2,Céu limpo,01d,Alta Floresta,200,-56.0835,-9.8699,32.95,37.7,32.95,32.95,1014,55,1014,1.54,0,05:49:47,17:31:47,2025-05-09 10:41:38
3,Céu limpo,01d,Alto Araguaia,200,-53.2169,-17.3157,27.80,28.86,27.80,27.80,1015,57,1015,4.09,4,05:48:09,17:10:29,2025-05-09 10:41:39
4,Céu limpo,01d,Paind do Araguaia,200,-51.3744,-11.6724,31.03,32.67,31.03,31.03,1014,50,1014,2.53,1,05:33:17,17:10:37,2025-05-09 10:41:40